---
Checks: >-
  -*,
  readability-*,
  performance-*,
  bugprone-*,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters
HeaderFilterRegex: 'src/.*'
FormatStyle: file
WarningsAsErrors: ''
